/.settings/
/.project
/laaws-configservice
/laaws-metadataextractor
/laaws-metadataextractor-common
/laaws-metadataservice
/laaws-poller
/laaws-repository-core
/laaws-repository-service
/laaws-repository-tools
/laaws-soap-service
/lockss-core
/lockss-parent-pom
/lockss-plugin-compat
/lockss-pom-bundles
/lockss-spring-bundle
/lockss-tdb-tools
/lockss-util
/laaws-crawler-service/
/lockss-plugins-archetype/
